.SearchResults{
    position: relative;
    width: 50%;
    height: 300px;
    overflow-y: scroll;
    padding: .88rem;
    background-color: rgba(1, 12, 70, 0.5);
    box-shadow: 0 2px 2px 2px #112801;
}


::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

@media only screen and (max-width:1020){
    .SearchResults{
        width: 90%;
        margin-bottom: 2rem;
    }
}